
/* project page style */

.project-page{
	margin: auto;
    justify-items: center;
	margin: 0;
	padding: 0;
	background-color: black;
	min-height: 100vh;
}
.project-page .nav-bar{
	background-color: black;
}
.project-page .section-buttons{
	position: fixed;
	top: 60px;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: black;
	gap: 30px;
	z-index: 1;
}
.project-page .section-buttons button{
	padding: 5px 20px;
	border-radius: 20px;
	height: 30px;
	border: 0;
}
.activesection-btn{
	background-color: blue;
	color: white;
}
.projectpage-content{
	padding: 20px 0;
}
.project-page h5{
    color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.project-wrap{
	margin: 0 auto;
	animation: fadein-ani 2s ease-in;
	margin-top: 100px;
	gap: 20px;
	border: 1px solid rgb(201, 201, 201);
	border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
	width: calc(90% - 20px);
	background-image: linear-gradient(to right bottom, var(--primary-color) , var(--bg-mix));
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
}
.project-wrap:hover{
	transform: scale(1.01);
	box-shadow: 0px 0px 5px 5px rgb(13, 13, 13);
}
.project-info{
	position: relative;
    width: 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 50px;
}
.project-wrap p{
	line-height: 1.3;
	font-size: calc(8px + 0.4vw);
	color: var(--footer-color);
}
.project-wrap h2{
	font-size: calc(14px + 0.6vw);
	color: blue;
}
.project-wrap img{
	display: flex;
	margin: 0 auto;
	width: 40%;
	height: auto;
	object-fit: cover;
	border: 1px solid white;
}
.menu{
	display: none;
}
.project-info button{
	border: 0.5px solid rgba(255, 255, 255, 0.71);
	background-color: rgba(0, 0, 255, 0.781);
	color: rgba(255, 255, 255, 0.938);
	position: absolute;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
	padding: 10px;
	border-radius: 5px;
	transition: 0.5s;
}
.project-info button:hover{
	box-shadow: 0px 0px 4px 2px rgb(197, 197, 197);
	transform: scale(1.02);
}
.respository-btn{
	bottom: 0;
	left: 0;
}
.website-btn{
	bottom: 0;
	right: 0;
}
.uiux-section .ui-gallery{
	height: 100vh;
	width: 100vw;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
.uiux-section .ui-gallery .vignette {
	width: 450px;
	height: auto;
	position: fixed;
	top: 20%;
	left: 30%;
	overflow: hidden;
	z-index: 0;
}
.uiux-section .ui-gallery img{
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
@media only screen and (max-width: 768px){
	.project-page .section-buttons{
	position: fixed;
	top: 0px;
	height: 120px;
	}
	.projectpage-content{
	padding: 100px 0;
}
.uiux-section .ui-gallery .vignette {
	width: 90%;
	top: 30%;
	left: 20px;
	overflow: hidden;
	z-index: 0;
}
.uiux-section .ui-gallery img{
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
}
@media only screen and (max-width: 768px){
	.nav-bar{
		display: none;
	}
	.menu{
		display: block;
	}
	.project-wrap{
		margin-top: 20px;
		margin-bottom: 30px;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.project-wrap img{
		display: flex;
		margin: 0 auto;
		width: 95%;
	}
	.project-info{
		width: 95%;
	}
}

/* Contact page style */

.contact-page{
	margin: 0;
	padding: 30px 0;
	background-color: black;
	min-height: 100vh;
}
.contact-info{
	color: var(--secondary-color);
	text-align: center;
	padding: 70px 50px 50px 50px;
	animation: openup 1s ease-in-out;
}
.contact-info h1 {
	font-size: calc(25px + 0.6vw);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: blue;
}
.contact-info p{
	color: var(--secondary-color);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(8px + 0.5vw);
}
.contacts{
	margin-top: 50px;
	display: flex;
	gap: 200px;
	justify-content: center;
}
.contact-form{
	width: 35vw;
	border: 0;
	border-radius: 10px;
	background-color: rgba(0, 0, 255, 0.158);
	margin: 0 auto;
	padding: 20px;
	animation: openup 1.5s ease-in-out;
	transition: 0.5s;
}
.contact-form:hover{
	transform: scale(1.04);
}
.contact-form h1 {
	padding: 10px;
	font-size: calc(22px + 0.6vw);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
	text-align: center;
}
.contact-form input{
	color: rgba(255, 255, 255, 0.868);
	font-size: 15px;
	width: 90%;
	padding: 7px 10px;
	border: 0;
	border-radius: 10px;
	background-color: rgba(0, 0, 255, 0.342);
	outline: 0;
}
.contact-form textarea{
	color: rgba(255, 255, 255, 0.868);
	font-size: 15px;
	width: 100%;
	border: 0;
	padding: 7px 10px;
	max-width: 90%;
	min-width: 50%;
	max-height: 70px;
	min-height: 50px;
	border-radius: 10px;
	background-color: rgba(0, 0, 255, 0.342);
}
.contact-form button {
	margin-top: 15px;
	background-color: rgba(0, 0, 255, 0.342);
	color: rgba(255, 255, 255, 0.868);
	padding: 5px;
	width: 100px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.589);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	transition: 0.5s;
}
.contact-form button:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 2px 2px blue;
}
.contact-form ::placeholder{
	padding-left: 10px;
	color: rgba(255, 255, 255, 0.447);
	font-size: 12px;
}
.contact h5{
	font-size: calc(22px + 0.6vw);
	color: white;
	text-align: center;
	padding: 20px;
	margin: 0;
}
.error-msg{
	color: red;
	font-size: 15px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 0;
}
@media only screen and (max-width: 768px){
	.menu{
		display: block;
	}
.contacts{
	display: flex;
	flex-direction: column;
	gap: 30px;
	animation: sliding-text 1.5s ease-in-out ;
	}
	@keyframes sliding-text {
0% {
transform: translateX(100%);
opacity: 0;
}
100% {
transform: translateX(0);
opacity: 1;
}
}
.contact-form{
	width: 80vw;
}
}

/* about page styling */

.about-page{
	margin: 0;
	padding: 0;
	background-color: black;
	min-height: 100vh;
}
#about{
	padding-top: 100px;
	color: var(--footer-color);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
}
#about img{
	border-radius: 50%;
	height: 400px;
	width: 400px;
	transition: 1s;
}
#about img:hover {
	height: 450px;
	width: 450px;
	border-radius: 0;
}
.about-info p{
	line-height: 1.5;
	font-size: calc(8px + 0.6vw);
}
.about-info h1{
	font-size: calc(25px + 0.6vw);
	color: blue;
}
.about-info{
	border-radius: 10px;
	width: 50%;
	padding: 20px;
	text-align: center;
	animation: fadein-ani 2s ease-in;
}

#intro{
	overflow-wrap: break-word;
	margin-top: 20px;
	line-height: 0;
	display: inline-block;
	border-radius: 10px;
	border: 0.5px solid rgba(255, 255, 255, 0.441);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: 55%;
	height: auto;
	padding: 20px;
	background-color: rgba(0, 0, 255, 0.158);
	animation: fadein-ani 2s ease-out;
	transition: 1s;
}
#intro:hover{
  scale: 1.05;
}

@keyframes fadein-ani {
  0% {
	opacity: 0;
  }
  50% {
	opacity: 1;
  }
}

#intro li{
	list-style: none;
}
#intro h2{
	font-size: calc(16px + 0.6vw);
	line-height: 1;
	color: blue;
}
#intro h4{
	font-size: calc(10px + 0.6vw);
	line-height: 1;
	color: rgba(255, 255, 255, 0.779);
}
#intro p{
	color: rgba(255, 255, 255, 0.779);
	text-align: left;
	line-height: 1;
	font-size: calc(8px + 0.6vw);
}
#id{
	font-size: 15px;
}
.intro-wrapper{
	justify-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-top: 70px;
}
.download-cv{
	padding: 50px;
	animation: sliding-ani 2s ease-in;
}
.download-button{
	color: white;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 600;
	padding: 10px;
	width: 150px;
	height: 45px;
	border-radius: 10px;
	background-color: rgb(0, 0, 189);
	border: 2px solid white;
	transition: 0.3s ease-in-out;
}
.download-button:hover{
	background-color: rgb(0, 0, 130);
	transform: scale(0.96);
}
.download-button img{
	width: 20px;
	margin-left: 10px;
}
.download-cv h5{
	color: var(--secondary-color);
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(17px + 0.4vw);
}
@media only screen and (max-width:768px) {
	.menu{
		display: block;
	}
	#about{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		justify-items: center;
	}
	#about img{
		width: 80%;
		display: flex;
		margin: 0 auto;
	}
	#about img:hover {
		width: 90%;
		border-radius: 0;
	}
	.about-info{
		width: 70%;
	}
	.intro-wrapper{
		grid-template-columns: 1fr;
	}
	.download-button{
		height: 35px;
		font-size: 12px;
	}
	.download-button img{
		width: 15px;
	}
}

/* styling service page */

.service-page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 20px 0;
	background-color: black;
	min-height: 100vh;
}
.service-content2{
	margin: 20px 0 40px 0;
	width: 90%;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 50px 0 50px 0;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.824);
	transform: translateY(0);
	box-shadow: 1px 1px 5px 5px rgb(72, 72, 72);
	transition: 1s ease-in-out;
}
.service-page h1{
	font-size: calc(17px + 0.8vw);
	padding: 40px;
	background-image: linear-gradient(to right, var(--secondary-color)50%,rgb(125, 125, 125)70%, var(--secondary-color));
	color: transparent;
	background-clip: text;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	animation: textglow 5s linear infinite;
}
.service-content2 img{
	width: 90%;
}
@media only screen and (max-width: 768px){
	.service-content2{
		grid-template-columns: 1fr;
	}
}